auto-install-peers=false
strict-peer-dependencies=false
public-hoist-pattern[]=babel-preset-expo
public-hoist-pattern[]=@babel/core
public-hoist-pattern[]=@babel/runtime
public-hoist-pattern[]=babel-plugin-*
