modules = ["nodejs-24", "postgresql-16"]

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[[ports]]
localPort = 8080
externalPort = 8080

[[ports]]
localPort = 8081
externalPort = 80

[[ports]]
localPort = 18653
externalPort = 3001

[[ports]]
localPort = 22174
externalPort = 3000

[nix]
channel = "stable-25_05"

[userenv]

[userenv.shared]
GOOGLE_CLIENT_ID = "988409821514-vfgc07trnbssm2sild94jd7ppo6m49ct.apps.googleusercontent.com"
GOOGLE_CLIENT_SECRET = "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"
EXPO_PUBLIC_GOOGLE_CLIENT_ID = "988409821514-vfgc07trnbssm2sild94jd7ppo6m49ct.apps.googleusercontent.com"
